

#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  text-align: center;
  max-width: 1280px;
}
.leaflet-container {
  position: absolute;
  overflow: hidden;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
}
