@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

.swiper-button-prev,
  .swiper-button-next {
    color: #f2c14e;
  }
  
  .swiper-pagination-bullet {
    background-color: #ace1af;
  }
@theme {
  --font-family-sans: 'Kanit', sans-serif;
  --font-family-sans-bold: 'Kanit', sans-serif;
  --font-family-logo: 'Bebas Neue', sans-serif;
  --color-celadon: #ace1af;
  --color-darkceladon: #013220;
  --color-brandwheat: #EFEEE4;
  --color-accent: #f2c14e
  }

  